*.json text eol=lf
*.csv text eol=lf
*.geojson text eol=lf

site/**/*.html text eol=lf
site/**/*.css text eol=lf
site/**/*.js text eol=lf
site/**/*.xml text eol=lf
site/**/*.txt text eol=lf
site/**/*.png binary
site/**/*.jpg binary
